{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-about-img">
    <div class="container">
        <div class="row">
          <div class="col-sm about-text">
            <h1 class="display-2 mt-5">Why MK?</h1>
            <p class="mt-5 display-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam itaque praesentium commodi adipisci aspernatur aut maiores reprehenderit odio sed eum?</p>
          </div>
          <div class="col-sm">
          </div>
        </div>
    </div>
  </div>
{% endblock content %}
