<!-- prettier-ignore -->
{% extends "layout.html" %}
{% set containerable = True %}
{% block content %}
<article class="media">
	<div class="mt-5">
	<div class="row">
		{% for product in products %}
		<div class="col-md-4 d-flex">
			<div class="card mt-4 mb-4">
				<!-- product.image_file is that created by app, not one uploaded -->
				<!-- see function call in routes.py -->
				<img src="{{ url_for('static', filename='product_pics/' + product.image_file ) }}" class="card-img-top" alt="picture of watch">
				<div class="card-body flex-fill">
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">{{ product.description }}</p>
				</div>
				<div class="card-footer d-flex">
					<!-- stored in db as number to 2 decimal places -->
					<span class="card-text mr-auto pt-2">&pound;{{ "%.2f"|format(product.price) }}</span>	
					<!-- if we want to create a real reserve/wishlist button  -->
					<!-- we could do a pivot table with user linking product many to many -->
					<a href="#" class="btn btn-primary">Reserve</a>
				</div>
			</div>
		</div>
		{% endfor %} {% endblock content %}
	</div>
</article>
