<!-- prettier-ignore -->
{% extends "layout.html" %}
{% set containerable = True %}
{% block content %}
<!-- <article class="media content-section"> -->
	<!-- <div class="mt-5"> -->
	<div class="row">
		{% for product in products %}
		<div class="col-md-4 d-flex">

			<!-- <div class="card" style="width: 18rem;"> -->
			<div class="card mb-5">
				<img src="{{ url_for('static', filename='product_pics/' + product.image_file ) }}" class="card-img-top" alt="picture of watch">
				<div class="card-body flex-fill">
					<!-- <div class="card-block"> -->
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">{{ product.description }}</p>
					<p class="card-text">{{ product.price / 100 }}</p>		
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		{% endfor %} {% endblock content %}
	</div>
</article>
