body {
	background: #fafafa;
	color: #333333;
	margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #556162;
}

.bg-feldgrau {
	background-color: #5f788a;
}

.bg-footer {
	background-color: #a3978c;
}

.footer-text {
	color: #03071e;
}

.about-text {
	color: #556162;
}

.about-text h1 {
	color: #d92e1c;
	font-size: 6vw;
}
.about-text p {
	font-size: 4vw;
}

.card-footer .btn-primary {
	border-color: #7e150a;
	background-color: #d92e1c !important;
}

.site-header .navbar-nav .nav-link {
	color: #cbd5db;
	font-size: 1.25rem;
}

.site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #444444;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.article-height {
	min-height: 50vh;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

/* taken from https://codepen.io/eversionsystems/pen/YOmqdj */
/*  changed to be 93% of viewport in mktime.js*/

.jumbotron-home-img {
	background-image: url("./hero.jpg");
}

.jumbotron-about-img {
	background-image: url("./about_us.jpg");
}
.jumbotron {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 105vh;
}
